div,ul,li,p,a,span,img,article,
aside,
footer,
header,
nav,
section,
h1,h2,h3,h4,h5,h6,
article,
aside,
figcaption,
figure,
main,
table,
tr,
td{
 margin: 0;
 padding: 0;	
 border:  none;
 list-style: none;
 word-wrap: wrap;
}