@media (min-width: 660px) {
  header {
    background: url("../img/back-desktop@2x.png") no-repeat;
    background-size: 100% 100%; }
  .container {
    min-width: 80%;
    margin: 0 10%; }
  .minimenu, .header__desktop {
    display: none; }
  .openmodal {
    display: none; } }

@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 660px) and (min-resolution: 2dppx) {
  header {
    background: url("../img/back-desktop@2x.png") no-repeat;
    background-size: 100% 100%; } }

@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-width: 660px) and (-o-min-device-pixel-ratio: 2/1) and (-o-min-device-pixel-ratio: 3/1), (min-width: 660px) and (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  header {
    background: url("../img/back-desktop@3x.png") no-repeat;
    background-size: 100% 100%; } }

@media (min-width: 660px) {
  .logo {
    width: 147px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../img/logotype-white-desktop (1).png") no-repeat;
    background-size: 100% 100%;
    margin-top: 25px; }
  .minimenu {
    display: none; } }

@media (max-width: 660px) {
  header {
    background: url("../img/back-tablet@1x.png") no-repeat;
    background-size: 100% 100%; }
  .header__big {
    display: none; }
  .container {
    max-width: 620px;
    margin: 0 20px; }
  .minimenu {
    visibility: visible;
    display: block; }
  .menu__item {
    border-bottom: 1px solid #485460; }
  .menu__topitem {
    border: none; }
  .containerf {
    max-width: 620px;
    margin: 0 20px;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 26px;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none; }
  .minimenu {
    min-height: 367px;
    background: #283645; }
  .menu__topitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 111px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 27px;
    padding-bottom: 39px; }
  .item__gl {
    border-top: 1px solid #485460; }
  .logo {
    width: 147px;
    height: 40px;
    background: url("../img/logotype-white-tablet.png") no-repeat;
    background-size: 100% 100%; }
  .closemodal {
    width: 24px;
    height: 24px;
    background: url("../img/menu-close.svg.png") no-repeat center;
    background-size: 100% 100%;
    margin-top: 15px;
    font-size: 0px; }
  .tablemenu {
    background: rgba(0, 0, 0, 0.5); }
  .content__item:first-child {
    width: 300px;
    margin-top: 103px;
    height: 470px;
    position: absolute;
    background: none;
    top: 0px; }
    .content__item:first-child h3 {
      padding-top: 116px;
      font-size: 40px;
      line-height: 40px; }
  .content__header {
    position: relative; } }

@media (max-width: 320px) {
  .container {
    max-width: 280px;
    margin: 0 20px; }
  .header__big {
    display: none; }
  .containerf {
    max-width: 280px;
    margin: 0 20px;
    padding-top: 22px;
    padding-bottom: 22px; }
  .logo {
    width: 75px;
    height: 22px;
    background: url("../img/logotype-white-mobile.svg.png") no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding-top: 0;
    margin-top: 22px; }
  .closemodal {
    margin: 0;
    padding: 0;
    margin-top: 20px; }
  .content__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .down__item h3 {
    display: none; }
  .socialicon__items, .content__item {
    width: 100%; }
  .content__item:first-child, .content__item:last-child {
    width: 100%; }
  .content__item:last-child {
    max-width: 320px;
    height: 314px;
    background: url("../img/iphone-5-in-hand-png (2).png") no-repeat;
    background-size: 100%;
    margin-top: 113px; }
  .content__item:first-child {
    margin-top: 320px; } }
