html, body {
  font-family: 'Open Sans', sans-serif; }

.logo {
  font-size: 0px; }

header {
  min-height: 853px; }

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.tablecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 44px;
  padding-bottom: 44px; }

.openmodal {
  width: 50px;
  height: 24px;
  background: url("../img/menu-burger.svg.png") no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 0px; }

.minimenu {
  display: none; }

.header__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  height: 108px; }

.headers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.big__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 620px;
  padding-top: 44px;
  margin-left: 35px; }

.big__item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold; }

a:hover {
  color: #d22856; }

a:active {
  color: #5f3650; }

.content__header {
  height: 757px; }

.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

.content__item:first-child {
  width: 370px;
  height: 100%; }

.content__item:last-child {
  width: 580px;
  background: url("../img/promo-header_bgr-hand-tablet@2x.png") no-repeat bottom;
  background-size: 100%; }

.down__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.down__item h3 {
  text-align: center;
  padding-top: 137px;
  font-size: 50px;
  line-height: 50px;
  color: #fff; }

.down__item p {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  line-height: 24px;
  color: #fff; }

.button {
  display: block;
  font-size: 21px;
  line-height: 18px;
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 60px; }

.socialicon__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 250px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto; }

.socialicon__item {
  display: block; }
  .socialicon__item a {
    display: block; }

.appleicon {
  width: 47px;
  height: 70px;
  background: url("../img/css_sprites (11).png") -10px -10px; }

.androindicon {
  margin-top: 10px;
  width: 43px;
  height: 60px;
  background: url("../img/css_sprites (11).png") -77px -10px; }

.microsofticon {
  margin-top: 10px;
  width: 44px;
  height: 60px;
  background: url("../img/css_sprites (11).png") -140px -10px; }
